@import "../../styles/groups/landing";

.Infographic
{
  display:         flex;
  justify-content: space-between;
  align-items:     center;
  width:           75vw;
  height:          33vh;
}

.Infographic__side
{
  transition: transform 750ms ease, opacity 750ms ease;

  &:first-of-type
  {
    padding-bottom: 150px;

    @include landingScreenWillBeLeaving
    {
      transform: translateX(-100px);
      opacity:   0;
    }

  }

  &:last-of-type
  {
    padding-top: 150px;

    @include landingScreenWillBeLeaving
    {
      transform: translateX(100px);
      opacity:   0;
    }

  }

}