@import "../../styles/tools/buttons";
@import "../../styles/tools/typography";
@import "../../styles/groups/playlistPreview";

.PlaylistPreview
{
  @include playlistPreviewBase;
  margin:     10px 0;
  transition: transform 400ms ease;

  &:active
  {
    transform: translateY(2px);
  }

}

.PlaylistPreview__thumb
{
  @include playlistPreviewThumb;
  transition:       transform 400ms ease;

  .PlaylistPreview:hover &
  {
    transform: scale(1.1);
  }

}

.PlaylistPreview__info
{
  @include playlistPreviewInfo;
  transition:      transform 400ms ease;

  .PlaylistPreview:hover &
  {
    transform: translateX(5px);
  }

}

.PlaylistPreview__name
{
  @include playlistPreviewName;
}

.PlaylistPreview__details
{
  @include playlistPreviewDetails;
}
