@import "../../styles/tools/buttons";
@import "../../styles/groups/playlists";
@import "../../styles/groups/playlistPreview";

.PlaylistView
{
  transition: opacity 750ms ease, visibility 0s linear 750ms;
  opacity:    0;
  height:     100%;
  visibility: hidden;

  @include playlistScreenPlaylistSelected
  {
    transition: opacity 750ms ease, visibility 0s linear 0s;
    opacity:    1;
    visibility: visible;
  }

}

.PlaylistView__header
{
  @include playlistPreviewBase;
}

.PlaylistView__thumb
{
  @include playlistPreviewThumb;
}

.PlaylistView__info
{
  @include playlistPreviewInfo;
  flex: 1;
}

.PlaylistView__generateWrapper
{

}

.PlaylistView__generate
{
  @include actionButton;
  top: 30px; // not sure why this is required

  span
  {
    position: relative;
  }

}

.PlaylistView__name
{
  @include playlistPreviewName;
}

.PlaylistView__details
{
  @include playlistPreviewDetails;
}

.PlaylistView__tracks
{

}

.PlaylistView__tracks__header
{
  display: flex;
}

.PlaylistView__tracks__header__title
{
  flex: 1;

  &.PlaylistView__tracks__header__title--title
  {
    flex: 2;
  }

  &.PlaylistView__tracks__header__title--length
  {
    flex:       initial;
    width:      80px;
    text-align: right;
  }

}
