@mixin largeHeading
{
  font-size:      64px;
  letter-spacing: 1px;
  text-shadow:    5px 5px white, 5px 5px 2px rgba(59, 160, 232, 0.05);
}

@mixin headingFont
{
  font-family: 'Open Sans Condensed', Helvetica, Arial, sans-serif;
}
