@import "../../styles/tools/buttons";
@import "../../styles/tools/typography";
@import "../../styles/groups/playlists";

.PlaylistsScreen
{
}

.PlaylistsScreen__content
{
}

.PlaylistsScreen__playlistViewWrapper
{
  position: fixed;
  top:      94px;
  left:     calc(50% - (#{$playlistFilterSectionWidth} / 2) + 50px);
  right:    100px;
  bottom:   94px;
  z-index:  50;
}