@import "../../styles/settings/colors";

.TrackPreview
{
  margin: 20px 0;
}

.TrackPreview__title
{
  color:       darken($color-plainText, 15);
  font-size:   18px;
  line-height: 22px;
  font-weight: 700;
}

.TrackPreview__trackTitle
{
}

.TrackPreview__subtitle
{
  color:       $color-plainText;
  font-size:   14px;
  line-height: 15px;
  margin-top:  3px;
}

.TrackPreview__duration
{
  display:      inline-block;
  margin-right: 5px;
}

.TrackPreview__artist
{
  font-weight: 700;
}
