@import "../../styles/tools/buttons";
@import "../../styles/tools/typography";

.LandingScreen
{
  display:         flex;
  align-items:     center;
  justify-content: center;
  height:          100%;
  height:          100vh;
}

.LandingScreen__content
{

}

.LandingScreen__title
{
  @include largeHeading;
  text-align: center;
}

.LandingScreen__actionWrapper
{
  display:         flex;
  justify-content: center;
}

.LandingScreen__action
{
  @include actionButton;
}

.LandingScreen__action__text
{
  position: relative;
}
